{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<button class="base icon home-button" aria-label="{{_globals._accessibility._ariaLabels.menuBack}}"></button>
